* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  max-width: 450px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
}

#display {
  background-color: hsl(0, 0%, 18%);
  width: 100%;
  padding: 20px;
  font-size: 5em;
  text-align: right;
  border: none;
  color: white;
  text-overflow: ellipsis;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 2em;
  font-weight: bold;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

.operator {
  background-color: hsl(39, 100%, 45%);
}

.operator:hover {
  background-color: hsl(39, 100%, 55%);
}

.operator:active {
  background-color: hsl(39, 100%, 65%);
}