* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 20px;
  margin: 50px auto;
}

.game-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 300px;
  width: 60vw;
  flex-wrap: nowrap;
}

.game-options .option {
  width: 100px;
  height: 100px;
  background-color: orange;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: transparent;
}

.option:hover {
  background-color: orange;
  transform: translateY(-20px);
}

.option i {
  font-size: 3.5rem;
}

.option span {
  font-size: 1.2rem;
}

.play-again button {
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
}

.result-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  display: none;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px;
  position: fixed;
  bottom: 5%;
  left: 50%; 
  transform: translateX(-50%);
}


.versus-text {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.play-again{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:20px;
  display:none;
}

.game-container,
.game-options {
  height: 400px;
}

.game-container img {
  height: 350px;
  width: 350px;
}

@media (max-width: 768px) {
  .game-options {
    width: 90vw; 
  }


  .scoreboard {
    gap: 20px;
  }

  .game-container img {
    width: 250px;
    height: 250px;
  }
}
